.m-main{
	width:100%;
	height:40px;
	background-color: rgba(174, 174, 174, 1);
	text-align:center;
	line-height:40px;
	font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    color:#333;
    margin-top: -12px;
    margin-bottom: 12px;
}
#fk-input{
	width: 360px;
	margin-left: 15px;
	height: 250px;
	border: none;
	border-radius: 20px;
	font-size: 14px;
	color: #ccc;
}
#fk-for{
	width: 390px;
	height: 44px;
	line-height: 44px;
	background-color: #fff;
	margin-top: 15px;
}
#fk-title{
	float: left;
	margin-left: 15px;
}
#fk-info{

	float: right;
	margin-right: 5px;
}