#fel-item{
	width: 194px;
	height: 39px;
	background-color: #fff;
	float: left;
	border-right: 1px solid #ccc;
	line-height: 39px;
	text-align: center;
}
#fel-boss{
	margin-bottom: 20px;
	margin-top: 20px;
}
#fel{
	width: 390px;
	height: 39px;
}
#leib-item{
	width: 390px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	cursor: pointer;
}
#leib{
	height: 320px;
	display: none;
}
#time-item{
	width: 194px;
	height: 39px;
	background-color: #999;
	float: left;
	color: #fff;
	font-size: 13px;
	border-right: 1px solid #ccc;
	line-height: 39px;
	text-align: center;
}
#time-left{
	float: left;
	width: 194px;
	height: 120px;
	background-color: #fff;
	border-right: 2px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#time-a{
	float: left;
	margin-left: 23px;
	line-height: 39px;
	font-size: 12px;
}
#fel-qd{
	float: left;
	width: 390px;
	height: 39px;
	background-color: #fff;
	text-align: center;
	line-height: 39px;
	color: #199ED8;
}
#time{
	display: none;
	width: 390px;
	height: 210px;
}