#director-top{
	width:390px;
	height: 51px;
	background-color: #fff;
	line-height: 51px;
	margin-bottom: 20px;
}
#director-top img{
	margin: 15px;
}
#director-img{
	width: 24px;
	height: 24px;
	float: right;
}