#fenx{
	width: 118px;
	height: 170px;
	margin: 0 auto;
	background-color: rgba(215, 215, 215, 1);;
}
#fenx img{
	width: 49px;
	height: 49px;
	margin: 50px 34px;
}
#fenx-l{
	width: 390px;
	height: 44px;
	background-color: #fff;
	line-height: 44px;
	border-bottom: 1px solid #ccc;
}
#fenximg-t{
	float: right;
	margin: 10px;
}
#fenx-l span{
	margin-left: 12px;
}
#fenx-t{
	margin-top: 25px;
}
#sz-img{
	width: 12px;
	height: 19px;
	float: left;
	margin-left: 10px;
}
#sz{
	width: 390px;
	height: 51px;
	line-height: 51px;
	background-color: #fff;
	font-size: 24px;
	margin-bottom:20px ;
}