#u1{
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 60px;
	background-color: #fff;
	line-height: 60px;
	display: flex;
}
#u1 li{
	margin-left:30px ;
	flex: 1;
}
#u1 li a{
	color: #000000;
}
#u1 img{
	width: 53px;
	height: 53px;
}
#head{
	width: 100%;
	height: 24px;
	line-height:24px ;
}
#head p{
	float: left;
	color:#bbb;
}
