.l-header{
	width:100%;
	height:50px;
	line-height: 50px;
	float:left;
	background-color: #fff;
	padding:0px 10px;
	box-sizing: border-box;
	overflow: hidden;
}
.ret{
	height:50px;
	line-height: 50px;
	float:left;
}
.ret>img{
	width:12px;
	cursor: pointer;
	height:19px;
}
.jia{
	height:50px;
	line-height: 50px;
	float:right;
}
.jia a>img{
	width:24px;
	cursor: pointer;

	height:24px;
}
.big{
	overflow:hidden;
}
.nav{
	width:220px;
	height:50px;
	line-height: 50px;
	float:left;
	overflow:hidden;
	margin-left: 70px;
}
.nav p{
	cursor: pointer;
	margin-top: 5px;
	width:104px;
	height:40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	border:1px solid #199ED8;
	float:left;
	color:#199ED8;
}
.nav div{
	cursor: pointer;
	margin-top: 5px;
	width:104px;
	height:40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	border:1px solid #199ED8;
	color:#199ED8;
	float:left;
}