#Home{
	width: 390px;
	height: 585px;
	background-color: rgba(242,242,242,1);
}
#home-top{
	width: 390px;
	height: 247px;
	background-color: rgba(228,228,228,1);
	padding: 30px 30px 20px 50px;
	box-sizing: border-box;
}
#home-top1{
	width: 100%;
	height: 70px;
}
#home-top1 div{
	width: 72px;
	height: 72px;
	margin-right: 30px;
	padding: 15px 0;
	text-align: center;
	float: left;
	box-sizing: border-box;
}
#home-top1 div p{
	font-size: 13px;
	color: #666;
}
#home-top2{
	width: 100%;
	height: 70px;
	margin-top: 30px;
}
#home-top2 div{
	width: 72px;
	height: 72px;
	margin-right: 30px;
	padding: 15px 0;
	text-align: center;
	float: left;
	box-sizing: border-box;
}
#home-top2 div p{
	font-size: 13px;
	color: #666;
}
#home-bottom{
	width: 390px;
	height: auto;
}
#home-bottom1{
	width: 390px;
	height: 35px;
	line-height: 35px;
	padding-left: 20px;
	box-sizing: border-box;
	background-color: rgba(188,188,188,1);
}
#home-bottom1 span{
	margin-right: 43px;
	font-weight: 700;
	font-size: 14px;
}
#home-bottom2{
	width: 390px;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	background-color: #fff;
}
#home-bottom2 span{
	margin-right: 40px;
	font-size: 14px;
	
}
